<p><%= t('messages.password_change_request') %></p>

<p><%= link_to t('messages.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('messages.ignore_request') %></p>
<p><%= t('messages.password_not_changed') %></p>
